spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/local_client
    username: local_client
    password: brandon012600
  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: update
    show-sql: true

server:
  port: 8081